[Desktop Entry]
Name=Gmail
Comment=Electron : Gmail
Exec=/path/to/app.sh gmail
Terminal=false
Type=Application
Icon=gmail
StartupWMClass=gmail
Categories=Network;Email;Chat;
